services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # MinIO Web Console
    volumes:
      - minio-data:/data
    networks:
      - localnet

networks:
  localnet:
    driver: bridge

volumes:
  minio-data:
